/* Basic styling for the navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #8b97be; /* Dark background color for the navbar */
    padding: 10px 20px;
    color: white; /* White text color */
  }
  
  /* Styling for the logo and title container */
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  /* Styling for the logo image */
  .navbar-logo img {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
  }
  
  /* Styling for the website name */
  .navbar-title {
    font-size: 28px;
    font-weight: bold;
    color: rgb(3, 3, 6);
  }

  .navbar-links {
    margin-left: auto;
  }
  
  .navbar-links a {
    color: rgb(27, 16, 16);
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  